.container
{
margin: center;
width: 400px auto;
height: 200px;
padding: 20px;
position: fixed;
top: 50%;
left: 50%;
margin-top: -120px;
margin-left: -220px;
background: url('groth.png');
background-size: cover;

}
